.shopping-cart {
  margin: auto;
  width: 60%;
  padding: 0 3.25rem 3.25rem;

}

.shopping-cart h2 {
  padding: 1rem;
  font-size: 2rem;
  text-align: center;
  margin: 0.5rem;
}

.cart-items {
  margin: 1.5rem;
}

.cart-price {
  text-align: center;
}

.total-price {
  padding: 0.625rem;
  font-size: 1.125rem;
}

.total-price span {
  color: black;
  margin-left: 0.5rem;
  font-weight: 600;
  font-size: 1.3rem;
}

.cart-price button {
  padding: 0.8rem;
  text-align: center;
  font-size: 1.2rem;
  transition: all 0.5s ease-in-out;
}

.cart-price button:hover {
  transform: translateY(-0.25em);
  box-shadow: 0 0 0.5em 0 #5e5e5e;
}