:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #213547;
  background-color: #ffffff;
}

body {
  margin: 0;
  box-sizing: border-box;

}

h1 {
  font-size: 3.2em;
}

button {
  border-radius: 8px;
  border: 2px solid transparent;
  font-size: 1em;
  font-family: inherit;
  background-color: #dbdbdb;
  cursor: pointer;
}